@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center w-100 h-100">
        <h1 class="display-4">Bienvenido al sistema de registro de usuarios</h1>
</div>
